.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formGroup label {
  font-weight: bold;
  font-size: 0.9rem;
}

.textInput {
  padding: 10px;
  border: 1px solid var(--color-bg-secondary);
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  border-radius: 4px;
  transition: border-color 0.2s;
  width: 100%;
}

.textInput:focus {
  outline: none;
  border-color: var(--color-accent-purple);
}
