.controlsWrapper {
  padding-top: 5px;
}

.viewToggleGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.viewToggleGroup button {
  padding: 8px 15px;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.inactiveButton {
  background-color: var(--color-bg-primary);
  color: var(--color-text-secondary);
}

.inactiveButton:hover {
  background-color: var(--color-bg-secondary);
}

.activeButton {
  background-color: var(--color-accent-orange);
  color: var(--color-bg-primary);
  border-color: var(--color-accent-orange);
  font-weight: bold;
}

.viewContent {
  border: 1px solid var(--color-bg-secondary);
  padding: 20px;
  border-radius: 4px;
}

.viewContent h3 {
  margin-top: 0;
  color: var(--color-accent-purple);
  border-bottom: 1px dashed var(--color-bg-secondary);
  padding-bottom: 10px;
  margin-bottom: 15px;
}
