<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="209715200" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<system.web>
		<httpRuntime maxRequestLength="204800" />
	</system.web>
</configuration>